<section id="contact" style="background-color: #ccc; color: #fff;">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-lg-8 mx-auto">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Have questions about my projects or just want to get in touch? Send me an email, and I'll get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 text-center">
                <a href="mailto:{{ site.email }}" style="color: #fff;">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://github.com/{{ site.github_username }}" style="color: #fff;">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
