<section id="contact" style="background-color: #323639; color: #fff;">
    <div class="container">
        <div class="row align-items-center text-center"> <!-- Add align-items-center and text-center classes -->
            <div class="col-lg-8 col-lg-offset-2"> <!-- Center the text -->
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Have questions about my projects or just want to get in touch? Send me an email, and I'll get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-3 text-center">
                <a href="mailto:{{ site.email }}">
                    <i style="color:#fff;" class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!-- <p>{{ site.email }}</p> -->
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center"> <!-- Center the GitHub icon -->
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <!-- <p>{{ site.github_username }}</p> -->
                </a>
            </div>
        </div>
    </div>
</section>
