<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jason Di Giovanni</h1>
            <hr>
            <h1>Cyber Security Engineer</h1>
            <hr>
            <h1 style="color: lightgrey;">Iowa State University</h1>
            <hr>
            <p>I aim to build my career as a cybersecurity engineer focused on security operations, threat intelligence, and network defense. My goal is to continuously grow through certifications, hands-on projects, and community engagement while helping shape secure, resilient systems.</p>
            <a href="/aboutme" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
