<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Jason Di Giovanni</h1>
            <hr>
            <h1>Cyber Security Engineer</h1>
            <hr>
            <h1 style="color: lightgrey;">Studying at Iowa State University</h1>
            <p>Immersed in the dynamic world of cybersecurity, my journey is filled with hands-on labs, cyber defense competitions, and real world work projects, showcasing my expertise and passion for protecting digital assets.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
