<header>
    <div class="header-content">
        <div class="header-content-inner" style="text-align: right;"> <!-- Apply text-align: right directly -->
            <h1>Jason Di Giovanni</h1>
            <hr>
            <h1>Cyber Security Engineer</h1>
            <hr>
            <h1 style="color: lightgrey;">Studying at Iowa State University</h1>
            <p>More Text Here</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
