<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/portfolio.html" class="portfolio-box">
                    <img src="img/portfolio/FireBot.jpg" class="img-responsive" alt="Rescue Bot">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Embedded Systems
                            </div>
                            <div class="project-name">
                                Rescue Bot
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/portfolio.html" class="portfolio-box">
                    <img src="img/portfolio/IntegratedFitnessScreenshot.jpg" class="img-responsive" alt="Integrated Fitness Web Application Login Page">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Backend Web Application Development
                            </div>
                            <div class="project-name">
                                Integrated Fitness
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/PinballMachineScreenshot.jpg" class="img-responsive" alt="Digital Pinball Machine Blender Model">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Project Based Computer Engineering and Problem Solving
                            </div>
                            <div class="project-name">
                                Digital Pinball Machine
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
