<section id="skills" style="background-color: #323639; color: #fff; text-align: center;">
        <div class="skills">
                <div class="skills">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>                            
                    <h1>Centered Header</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet ultricies odio, nec fermentum arcu tempor sed. Nullam commodo est ac libero dignissim, ut efficitur justo auctor.</p>
                    <p>Nulla facilisi. Phasellus dictum augue eu tortor hendrerit, nec viverra libero interdum. Sed bibendum elit ac sapien fermentum consectetur.</p>
                    <!-- More text can be added here -->
                </div>
            </div>
</section>
