<section id="skills" style="background-color: #323639; color: #fff; text-align: left;">
        <div class="skills">
                <div class="skills">
                    <i style="justify-content: center;" class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>                            
                    <h1 style="text-align: center;">Technical Skills</h1>
                    <!-- More text can be added here -->
                    <div class = "skillslist" text-align: left;"> 
                            <i class="fa fa-4x fa-server wow bounceIn text-promary" data-wow-delay=".3s"></i>
                            <h1>Virtual Machine Management</h1>
                    </div>
                </div>
            </div>
</section>
